{% load static %}
<footer>
    <img src="{% static 'img/background/image-footer.svg' %}" alt="{{ SHOP_NAME }} Hops Logo" class="footer__hops-logo">
    <nav class="footer__nav">
        <ul>
            <li><a href="#">Contact</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Community</a></li>
            <li><a href="#">Resources</a></li>
            <li><a href="#">License</a></li>
        </ul>
    </nav>
    <p class="footer__copyright">&copy; {{ SHOP_NAME }} {% now "Y" %}. All rights reserved</p>
</footer>
